*{
  body: 0;
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: 0px;
  overflow-x: hidden; 
  padding: 0;
}
.navbar{
    background-color: black;
    margin-top: 0px;
    overflow: hidden;
    padding: 5px;
    /*line-height: 10px;*/
    line-height: 26px;
    margin-right: -19px;
    /*margin-right: -33px;*/
    position: fixed;
    width: 100%;
    margin-top: -34px;
    z-index: 1;
  }

/*.navbar ul{
    overflow: hidden;
  }*/
  .navbar li{
    float: right;
    list-style: none;
    margin: 7px;
    font-size: 15px;
  }
  .navbar li a{
    padding: 5px 4px;
    text-decoration: none;
    color: white;
    border-radius: 7px;
    text-shadow: 2px 2px 4px #000000;
  }
  .navbar li a.active,a:hover{
    background-color: #b9adad;
  }
  .search{
    float: right;
    color: white;
    padding: 8px 28px;
   /* padding: 5px 18px*/;
  }
  .navbar input{
    border: 2px solid black;
    border-radius: 7px;
    padding: 4px 4px;
    width: 129px;
  }
  .navbar i{
    margin: inherit;
    color: white;
    font-size: 1.8rem;
    margin-left: 34px;
  }
  .logo{
    color: white;
    /*margin-left: 50px;*/
    font-family: monsterrat;
    font-size: 30px;
    line-height: 41px;
    /*margin: 0 1.5rem;*/
    margin-left: 20px;
    padding: inherit;
  }
#{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
body{
  margin: 0px auto;
}
.content1{
  width: 100%;
  position: absolute;
  top: 30%;
  transform: translate(0%);
  text-align: center;
  color: white;
}
.content1 h1{
  font-size: 40px;
  margin-top: 80px;
}
.content1 p{
  margin: 5px auto;
  font-weight: 100;
  line-weight: 25px;
}
.content1 button{ 
  color: white;
  border: 2px solid white;
  margin-top: 1rem;
  border-radius: 10px;
}
.content1 button:hover{
  border: none;
  background: #b9adad;
  border: 2px solid white;
}
.slider{
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55));
  margin-left: 0px;
  margin-top: 34px;
  /*margin-left: 0px;*/
  /*margin-left: 20px;*/
  margin-left: 0px;
}
.slider figure div{
  float: left;
  width: 20%;
}
.slider figure img{
  width: 100%;
  float: left;
  height: 565px;
  /*filter: brightness(0.6);
  opacity: 0.9;*/
  z-index: -1;
}
.slider figure{
  position: relative;
  width: 500%;
  height: 500%;
  margin: 0px;
  left: 0px;
  animation: 15s slider infinite;
  background: cover;
  z-index: -1;
}

@keyframes slider{
  0%{
    left: 0%;
  }
  10%{
    left: 0%;
  }
  12%{
    left: -100%;
  }
  22%{
    left: -100%;
  }
  24%{
    left: -200%;
  }
  34%{
    left: -200%;
  }
  36%{
    left: -300%;
  }
  46%{
    left: -300%;
  }
  48%{
    left: -400%;
  }
  58%{
    left: -400%;
  }
  60%{
    left: -300%;
  }
  70%{
    left: -300%;
  }
  72%{
    left: -200%;
  }
  82%{
    left: -200%;
  }
  84%{
    left: -100%;
  }
  94%{
    left: -100%;
  }
  96%{
    left: 0%;
  }
}

#feature{
  height: auto;
  width: 100vw;
  display: grid;
  place-items: center;
  /*background: #790b0b;*/
  background: #bdb6b6;
  margin-left: 0px;
}
#feature h1{
  color: #fff;
  font-size: 3rem;
  margin: 1rem 0;
}
#feature .card-container{
  width: 85vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: inherit;
  margin: 0rem 0;
  margin-left: 0px;

}
#feature .card-container .card{
  width: 25rem;
  height: 30rem;
  margin: 1.2rem;
  background: #fff;
  box-shadow: 12px 12px 20px #372c2c;
}

#feature .card-container img{
  width: 100%;
  height: 50%;
  object-fit: cover;
}

#feature .card-container .content{
  height: 50%;
  width: 100%;
  text-align: center;
}
#feature .card-container .content h1{
  color: #790b0b;
  font-size: 1.5rem;
  margin: 1rem;
}
#feature .card-container .content p{
  font-size: 1.05rem;
  padding: .5rem; 
}
#feature .card-container .content button.btn{
  height: 2rem;
  width: 14rem;
  background: transparent;
  border: 2px solid #790b0b;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  color: #790b0b;
  font-weight: bold;
  margin: 1rem 0;
}
#feature .card-container .content button:hover{
  background: #790b0b;
  color: #fff;
}
#feature .card-container .card:hover {
  transform: translateY(-3rem);
  box-shadow: 0 0 1rem #333;
}
#about{
  height: 30vw;
  width: 95vw;
  display: flex;
  justify-content: space-around;
}
#about .image{
  margin: 0rem 0rem;
}
#about .image img{
  height: 40rem;
  width: 30rem;
  margin-top: 0px;
}
#about .content{
  /*width: 90vw;*/
  width: 80vw;
}
#about .content h1{
  font-size: 2.2rem;
  /*margin: 3rem 8rem;*/
  color: #790b0b;
  margin-left: 14rem;
  margin-top: 3rem;
}
#about .content p{
  font-size: 1.5rem;
  /*padding-right: 6rem;*/
  margin-left: 100px;
  margin-top: 2rem;
}
.buttons{
  padding-right: 2rem;
  margin-left: 6rem;
}
.buttons button{
  height: 2rem;
  width: 10rem;
  background: transparent;
  border: 2px solid #790b0b;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  color: #790b0b;
  font-weight: bold;
  margin: 2rem 0 1.2rem 0;
}
button:hover{
  background: #790b0b;
  color: #fff;
}

#gallery{
  display: grid;
  place-items: center;
  height: 100vw;
  width: 100vw;
  /*background: #f7f7f7;*/
}
#gallery h1{
  font-size: 2.5rem;
  color: #790b0b;
  margin: 20rem 0;
}
#gallery .image-container{
  width: 90vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: -28rem;
}
#gallery .image-container .image{
  height: 20rem;
  width: 20rem;
  margin: 2rem;
  overflow: hidden;
  position: relative;
}
#gallery .image-container .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#gallery .image-container .image .info{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -100%; left: 0;
  background: rgba(0, 0, 0, .5);
}
button{
  height: 2rem;
  width: 10rem;
  background: transparent;
  border: 2px solid #790b0b;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  color: #790b0b;
  font-weight: bold;
  /*margin: 2rem 2rem 2rem 0;*/
}
button:hover{
  background: #790b0b;
  color: #fff;
}
#gallery .image-container .image:hover .info{
  bottom: 0%;
}
#contact{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: url('img/i38.jpg'),linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5));
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: multiply;
}
#contact form{
  display: flex;
  flex-flow: column;
  /*margin-left: -10rem;*/
}
#contact form h1{
  color:  white;
  font-size: 2.5rem;
}
#contact input{
  height: 2rem;
  background: transparent;
  /*margin: 2rem 0;*/
  margin: 1rem;
  padding: 0 1rem;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-weight: bold;
  width: 30vw;
  margin-left: 0px;
}
#contact input::placeholder{
  color: #ccc;
}
#contact input:focus{
  background: #790b0b;
}
#contact input[type="submit"]{
  height: 2rem;
  width: 10rem;
  background: transparent;
  border: 2px solid #790b0b;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  color: #790b0b;
  font-weight: bold;
  background: #790b0b;
  color: #fff;
  /*margin: 2rem 2rem 2rem 0;*/
}
#contact input[type="submit"]:hover{
  background: transparent;s
  background: #790b0b;
  color: #fff;
}
#contact textarea{
  resize: none;
  background: transparent;
  outline: none;
  padding: 1rem;
  color: #fff;
  border: 2px solid white;
  font-weight: bold;
  border-radius: 5px;
}
textarea::placeholder{
  color: #ccc;
}
#contact .image img{
  height:70vh ;
  width: 40vw;
  /*margin-top: 16rem;*/
  margin-left: 15rem;
}

  #footer{
    height: 22rem;
    width: 100%;
    display: grid;
    place-items: center;
    background: #333;
    margin-left: 0px;
  }
  #footer .msg{
    text-align: ccenter;
    color: #fff;
    margin: 2rem 0;
  }
  #footer span{
    color: #ff1700;
  }
  .footer-container{
    height: auto; 
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: wrap;
  }
  .footer-container .brand{
    margin: 3rem 0;
    flex: 1 0 25rem;
  }
  .footer-container .brand .logo{
      margin: 1rem 0;
  }
  .footer-container .brand .logo a{
    text-decoration: none;
  }
  .footer-container .brand .logo h1{
    font-size: 3rem;
    color: #fff;
  }
  #footer .footer-container .brand .icons{
    display: flex;
    flex-flow: row;
  }
  .footer-container .icons a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    margin: 1rem .7rem;
    position: relative;
    margin-left: 2rem;
  }
  .contact-info{
    flex: 1 0 25rem;
  }
  .contact-info .info{
    height: 16rem;
    width: 20rem;
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    font-size: 17px;
  } 
  .letter{
    flex: 1 0 25rem;
    margin-top: 1rem;
  }
  .letter h1{
    font-size: 3rem;
    color: #ff1700;
  }
  .letter p{
    color: white;
    margin: 1rem 0;
    font-size: 1rem;
  }
  .letter input{
  height: 2rem;
  background: transparent;
  /*margin: 2rem 0;*/
  margin: 1rem 0;
  padding: 0 1rem;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-weight: bold;
  width: 19rem;
  margin-left: 0px;
}
.letter input::placeholder{
  color: #ccc;
}
.letter input:focus{
  background: #790b0b;
}
.letter input[type="submit"]{
  height: 2rem;
  width: 6rem;
  background: transparent;
  border: 2px solid #790b0b;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  color: #790b0b;
  font-weight: bold;
  background: #790b0b;
  color: #fff;
  /*margin: 2rem 2rem 2rem 0;*/
}
.letter input[type="submit"]:hover{
  background: transparent;
  background: #790b0b;
  color: #fff;
}





/**{
  padding: 0;
  margin: 0;
  text-align: justify;
}
body{
  overflow: hidden; //
}
.about{
  width: 100%;
  padding: 78px 0px; //
}

.aboutus h1{
  text-align: center;//
  margin-left: 450px;
  font-size: 2.5rem;
}
.about-text1{
  width: 40%;
  margin-left: -20px;
}
.about-text1 h3{
  font-size: 1.7rem;
  text-align: center;
}
.about-text2{
  width: 45%;
    margin-left: 649px;
    margin-top: -211px;
}
.about-text2 h3{
  font-size: 1.7rem;
  text-align: center;
}
.main{
  width: 1130px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.column {
  float: left;
  width: 25%;
  padding: 5px;//
  margin-top: 80px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
*{
  padding: 0;
  margin: 0;
  text-align: justify;
}
body{
  margin: 0;
  padding: 0;
}
.heading{
  display: inline-block;//
  color: #333;
  margin: 0px;
  margin-left: 429px;
  padding: 0px 0;
  padding-top: 0px;
  font-size: 2.3rem;
  text-decoration: underline;
  text-decoration-color: orange;
}

.btn{
  cursor: pointer;
  border: 2px solid white;
  color: black;
  background: none;
  padding: 5rem 3 rem;
  position: relative;
  z-index: 0;
  font-size: 1.5rem;
}
.btn::before{
  content: '';
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  background: black;
  z-index: -1;
  clip-path: circle(0%, at 0% 0%);
  transition: -3s;
}
.btn:hover::before{
  clip-path: circle(100%);
}
.btn hover{
  color: #fff;
}
.service{
  min-height: 100vh;//
  text-align: center;
  width: 51%;
}
.service .box-container{
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.service .box-container .box{
  height: 100%;
  width: 100%;
  margin-left: 20px;
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.service .box-container .box .img{
  height: 100%;
  width: 100;
  object-fit: contain;
}
.service .box-container .box .info{
  height: 90%;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.service .box-container .box:hover .info{
  transform: translate(-50%, -50%) scale(1);
}
.service .box-container .box .info h3{
  font-size: 2.5rem;
  color: #333;
}
.service .box-container .box .info p{
  font-size: 1.2rem;
  color: #666;
  padding: 1rem 2rem;
}

*/