/*final html*/
:root{
	--orange: #ff9f1a;
}
*::selecion{
	background: var(--orange);
	color: #fff;
}
html{
	font-size: 62.5%;
	/*overflow: hidden;*/
}

.about .row{
	/*min-height: 100vh;*/
	display: flex;
	align-items: center;
	justify-content: center;
	/*flex-wrap: wrap;*/
	padding-top: 8rem;

}
.about .row .image{
	/*flex: 1 1 40rem;*/	
	padding: 0;
	margin: 0;
}

.about .row .image .img{
	/*height: 50%;
	width: 50%;*/
	object-fit: cover;
}

.about .row .cintent{
	flex: 1 1 40rem;
	padding: 2rem;
}
