/*service*/
*{
	padding: 0;
	margin: 0;
	text-align: justify;
	width: 90%;
}
body{
	margin: 0;
	padding: 0;
}
.heading{
	display: inline-block;
	color: #333;
	margin: 0px;
	margin-left: 429px;
	padding: 0px 0;
	padding-top: 0px;
	font-size: 2.3rem;
	text-decoration: underline;
	text-decoration-color: orange;
}

/*.btn{
	cursor: pointer;
	border: 2px solid white;
	color: black;
	background: none;
	padding: 5rem 3 rem;
	position: relative;
	z-index: 0;
	font-size: 1.5rem;
	text-align: center;
}
.btn::before{
	content: '';
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	width: 100%;
	background: black;
	z-index: -1;
	clip-path: circle(0%, at 0% 0%);
	transition: -3s;
}
.btn:hover::before{
	clip-path: circle(100%);
}
.btn hover{
	color: #fff;
}*/
.service{
	min-height: 100vh;
	text-align: center;
	width: 51%;
}
.service .box-container{
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.service .box-container .box{
	height: 100%;
	width: 100%;
	margin-left: 20px;
	margin-top: 10px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.service .box-container .box .img{
	height: 100%;
	width: 100;
	object-fit: cover;

}
.service .box-container .box .info{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}
.service .box-container .box:hover .info{
	transform: translate(-50%, -50%) scale(0.5);
}
.service .box-container .box .info h3{
	font-size: 2.5rem;
	color: #333;
}
.service .box-container .box .info p{
	font-size: 1.2rem;
	color: #666;
	padding: 1rem 2rem;
}

